{% extends '_layouts/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Bad request" %} :(
{% endblock %}

{% block content %}
    <div class="container">
            <h1>{% trans "Bad request" %} <span>:(</span></h1>
    </div>
{% endblock %}

{% block js %}
    <script>
        var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
    </script>
    <script src="https://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
{% endblock %}
